<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voup.education.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.voup.education.entity.Course">
        <id column="id" property="id" />
        <result column="courseCode" property="coursecode" />
        <result column="courseName" property="coursename" />
        <result column="teacherCode" property="teachercode" />
        <result column="time" property="time" />
        <result column="location" property="location" />
        <result column="weeks" property="weeks" />
        <result column="courseClass" property="courseclass" />
        <result column="credit" property="credit" />
    </resultMap>

</mapper>
